.char_container {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.986);
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.continer_flexx {
  width: 60%;
  margin: 0 auto;
  align-items: center;
  margin-top: 15%;
}

.charecter_card {
  /* width: 100%; */
  border-radius: 8px;
  box-shadow: rgba(17, 17, 26, 0.4) 0px 0px 16px;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.name_section {
 display: grid;
  margin-left: 30px;

}




.d-flex {
  display: flex;
  flex-direction: column;
  flex:1;
  padding:10px;
}
.top_panel {
  flex: 1;
}
.bottom_panel {
  flex: 1;
  display: flex;
  align-items: end;
  gap: 5px;
}

.flex-3{
  flex:3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charecter_image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.episode_image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.name_section h1{
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
  /* padding: 8px; */
}

.name_section p{
  font-weight: 500;
  font-size: 12px;
  color: #8d8d8d;
  text-align: justify;
  overflow: hidden;
 margin-right: 10px;
  height: 100%;
 
  /* white-space: nowrap; */
  text-overflow: hidden;
  text-decoration: none !important;
}
.alive_tile{
  /* position: absolute; */
  background-color: rgb(33, 33, 33);
  color: #fff;
  padding: 2px 15px;
  border-radius: 4px;display: flex;
 
}

.episode_section{
  margin-top: 50px;
  
}

.episode_row{
  display: flex;
  overflow: scroll;
  background-color: #fafafa;
  margin-bottom: 40px;
}

.episode_card{
  border-radius: 8px;
  background-color: #ffb7b7;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 8px;
  margin-left: 10px;
  width: 150px;
  height: inherit;
}

.episode_card:first-child{
  margin-left: 0px;
}



::-webkit-scrollbar{
  display: none;
}


@media screen and (max-width:768px) {
  .charecter_card{
    flex-direction: column;
    /* margin-top: 100px; */
  }

  .continer_flexx{
    width:90%;
    height: inherit;
  }
  
}